.blueButton{
    @include styleButton($color-blue-0, $color-blue-0,$pd-0 - 2, $pd-0 + 4, $border-radius);
    @include styleText($color-white-0, $fs-1, $fw-normal);
    text-decoration: none;
    outline: none;
    &:hover{
        @include styleHoverButton($color-white-0, $color-blue-0, $color-blue-1);
    }
    &:focus{
        outline: none;
        box-shadow: none;
    }
}

.learnMoreButton{
    @include styleButton($color-black-2, $color-black-2,$pd-0, $pd-1,$border-radius);
    @include styleText($color-gray-3, $fs-1, $fw-normal);
    text-decoration: none;
    outline: none;
    &:hover{
        @include styleHoverButton($color-gray-3,$color-black-3,$color-black-3);
    }
    &:focus{
        outline: none;
        box-shadow: none;
    }
}