.new {
    .new__content {
        // background-color: $color-black-0;
        // .new__button {
        //     text-align: center;
        //     margin-top: 30px;
        //     button {
        //         border: 1px solid #202020;
        //         background: linear-gradient(#303030, #202020);
        //         color: #999;
        //         line-height: 20px;
        //         padding: 6px 20px;
        //         transition: all 0.5s;
        //         i {
        //             font-size: 14px;
        //             margin: 2px 8px 0 0;
        //         }
        //         &:hover{
        //             color: $color-white-0;
        //         }
        //         &:focus{
        //             outline: none;
        //         }

        //     }
        // }
        ul {
            padding: 0;
            margin: 0;
        }
        .nav {
            width: 370px;
            margin: 0 auto;
            .nav-item {
                margin: 0 20px;
                padding: $pd-1 0;
                .nav-link {
                    @include styleText($color-white-0, $fs-1, $fw-normal);
                    // color: $color-white-0;
                    border-radius: 0;
                    border-bottom: 1px solid transparent;
                    transition: all 0.5s;
                    padding: 8px 0;
                    &.active {
                        background-color: transparent;
                        border-bottom: 1px solid $color-blue-0;
                        color: $color-blue-0;
                    }
                    &:hover {
                        color: $color-blue-0;
                    }
                    i {
                        margin-right: $mg-1 + 1;
                    }
                }
            }
        }
        .merNew__content,
        .popular__content,
        .popular__video {
            .row {
                width: 100%;
                height: 100%;
                margin: 0;
                img {
                    width: 100%;
                    height: 100%;
                }
                .col,
                .col-xl-4,
                .col-xl-12,
                .col-xl-8 {
                    padding: 0;
                }
            }
        }
        .merNew__content,
        .popular__content,
        .popular__video {
            .new__button {
                text-align: center;
                padding-top: $pd-1;
                padding-bottom: $pd-2;
                button {
                    border: 1px solid #202020;
                    background: linear-gradient(#303030, #202020);
                    color: #999;
                    line-height: 20px;
                    padding: 6px 20px;
                    transition: all 0.5s;
                    i {
                        font-size: 14px;
                        margin: 2px 8px 0 0;
                    }
                    &:hover {
                        color: $color-white-0;
                    }
                    &:focus {
                        outline: none;
                    }
                }
            }
            .row {
                .hidden__item,.hidden__item_1,.hidden__item_2 {
                    display: none;
                }
                .new__item {
                    position: relative;
                    overflow: hidden;
                    padding: 1px;

                    .mini__black {
                        padding: 13px 31px 16px 31px;
                        position: absolute;
                        bottom: 0;
                        // transform: translateY(88%);
                        // bottom: 0;
                        // bottom: 50px;
                        left: 0;
                        width: 100%;
                        height: 10px;
                        background-color: transparent;
                        p {
                            @include styleText($color-white-0, $fs-0, $fw-normal);
                            span:last-child {
                                margin-left: 15px;
                            }
                        }
                    }
                    .mini__play {
                        position: absolute;
                        // top: 0;
                        bottom: 50px;
                        left: 0;
                        // transform: translateY(443%);
                        transition: all 0.5s;
                        p {
                            display: inline-block;
                            width: 30px;
                            height: 25px;
                            text-align: center;
                            margin: 0;

                            &:first-child {
                                background-color: #efefef;
                                color: #333;
                                float: left;
                                font-size: 9px;
                                height: 25px;
                                padding: 7px 12px;
                                width: 30px;
                            }
                            &:last-child {
                                background-color: rgba(0, 0, 0, 0.6);
                                height: 25px;
                                width: 60px;
                                line-height: 25px;
                                color: $color-white-0;
                            }
                        }
                    }
                    .new__black_1 {
                        padding: 13px 31px 13px 31px;
                        position: absolute;
                        background-color: rgba(0, 0, 0, 0.35);
                        // transform: translateY(89%);
                        // top: 0;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        // height: 100%;
                        height: 50px;
                        transition: all 0.5s;
                        .black__content {
                            h3 {
                                @include styleText($color-white-0, $fs-3 - 4, $fw-normal);
                                line-height: 24px;
                                margin: 0;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                            p {
                                opacity: 0;
                                transition: all 0.5s;
                                @include styleText($color-white-0, $fs-1 - 1, $fw-normal);
                            }
                        }
                    }
                    &:hover {
                        .mini__black,
                        .mini__play {
                            opacity: 0;
                        }
                        .new__black_1 {
                            background-color: rgba(0, 0, 0, 0.7);
                            // transform: translateY(75%);
                            height: 25%;
                            .black__content {
                                h3 {
                                    white-space: normal;
                                }
                                p {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                    .new__black {
                        padding: 13px 31px 13px 31px;
                        position: absolute;
                        background-color: rgba(0, 0, 0, 0.35);
                        // transform: translateY(78%);
                        height: 50px;
                        // top: 0;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        // height: 100%;
                        transition: all 0.5s;
                        .black__content {
                            h3 {
                                @include styleText($color-white-0, $fs-3 - 4, $fw-normal);
                                line-height: 24px;
                                margin: 0;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                            p {
                                opacity: 0;
                                transition: all 0.5s;
                                @include styleText($color-white-0, $fs-1 - 1, $fw-normal);
                            }
                        }
                    }
                    &:hover {
                        .new__black {
                            background-color: rgba(0, 0, 0, 0.7);
                            // transform: translateY(50%);
                            height: 50%;
                            .black__content {
                                h3 {
                                    white-space: normal;
                                }
                                p {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@include responsive("extra-large") {
    .new {
        .new__content {
            .merNew__content,
            .popular__content,
            .popular__video {
                .row {
                    .img__hidden {
                        display: none !important;
                    }
                    .new__item {
                        &:hover {
                            .new__black_1 {
                                height: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}
@include responsive("medium") {
    .new {
        margin-bottom: 60px;
        .new__content {
            .merNew__content,
            .popular__content,
            .popular__video {
                .row {
                    .img__hidden {
                        display: block !important;
                    }
                    .new__item {
                        overflow: visible;
                        margin-bottom: 80px;
                        .new__black,
                        .new__black_1 {
                            position: static;
                            p {
                                display: none;
                            }
                        }
                        .mini__play {
                            // top: 0;
                            bottom: 0;
                            left: 0;
                        }
                        .mini__black {
                            bottom: -50px;
                            p {
                                span:last-child {
                                    margin-left: 0;
                                    display: block;
                                }
                            }
                        }
                        &:hover {
                            .mini__black,
                            .mini__play {
                                opacity: 1;
                            }
                            .new__black,
                            .new__black_1 {
                                h3 {
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap !important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
