.welcome{
    .search{
        background-color: $color-black-1;
        padding: $pd-1 + 6 0px;
        .search__box{
            .input-group{
                input{
                    border: none;
                    border-radius: $border-radius;
                    @include styleText($color-black-2, $fs-2 + 2, $fw-normal);
                    padding: $pd-0 $pd-1 - 6;
                    &::placeholder{
                        @include styleText($color-gray-1, $fs-2 , $fw-normal);
                    }
                }
                .input-group-append{
                    span{
                        background-color: $color-white-0;
                        border: 1px solid $color-gray-2;
                        border-radius: $border-radius;
                        border-left: none;
                        padding: $pd-0 - 3 $pd-1;
                        cursor: pointer;
                        i{
                            @include styleText($color-black-2, $fs-2 + 2, $fw-bold);
                            background-color: $color-white-0;
                            padding: 0px;
                        }
                    }
                }
            }
            

        }
    }

    .welcome__text{
        padding: $pd-2 0px;
        .container{
            padding: $pd-3 0px;
            .left{
                h2{
                    @include styleText($color-white-0, $fs-4, $fw-normal);
                    font-family: 'Roboto', serif;
                    line-height: 45px;
                    margin-bottom: $mg-1;
                }
                p{
                    @include styleText($color-white-0, $fs-0 + 1, $fw-normal);
                    text-align: justify;
                    a{
                        @include styleText($color-blue-0, $fs-0 + 1, $fw-normal);
                        &:hover{
                            color: $color-blue-1;
                        }
                    }
                }
                .blueButton{
                    margin-top: $mg-4;
                }
            }
        }
    }

    .name__brand{
        .container{
            a{
                position: relative;
                display: block;
                &::after{
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 0px;
                    display: block;
                    background-color: $color-blue-0;
                    transition: all 0.16s;
                    opacity: 0;
                }
                &:hover::after{
                    height: 7px;
                    opacity: 1;
                }
            }
            .col-md-3{
                padding: 0px 9px;
            }
        }
    }
}

@include responsive("extra-large"){
    .welcome{
        .welcome__text{
            padding: $pd-1 + 5 0px;
        }
    }
}


@include responsive("medium") {
    .search{
        .container{
            max-width: calc(100% - 60px);
        }
    }
    .welcome{
        .name__brand{
            .container{
                max-width: calc(100% - 60px);
                .col-6, .col-md-3{
                    padding: 5px;
                }
            }
        }
        .welcome__text{
            padding: $pd-1 0px;
            .container{
                max-width: calc(100% - 60px);
                .left{
                    h2{
                        @include styleText($color-white-0, $fs-3, $fw-normal);
                    }
                    .blueButton{
                        width: 100%;
                    }
                }
            }
        }
    }
    
}